/vendor
/node_modules
/public/storage
/public/images
/storage/*.key
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
.env
.env.*
.phpunit.result.cache
/.idea
/.vscode

npm-debug.log
yarn-error.log

